
/* Tableaux */
table
{
border:3px solid #6495ed;
border-collapse:collapse;
width:90%;
margin:auto;
}
thead , tfoot {
background-color:#D0E3FA;
background-image:url(sky.jpg);
border:1px solid #6495ed;
}
tbody {
background-color:#FFFFFF;
border:1px solid #6495ed;
}
th   {
font-family:monospace;
border:1px dotted #6495ed;
padding:5px;
background-color:#EFF6FF;
width:25%;
}

td  {
font-family:sans-serif;
font-size:80%;
border:1px solid #6495ed;
padding:5px;
text-align:left;

}
caption{
font-family:sans-serif;
}

/* Surlignement ligne */
tr:hover{
background:#E7EBEB;
}


